.list-container {
  width: 40%;
  max-width: 500px;
  padding: 1rem;
  border-right: 1px solid;
  background-color: #b2bec3;
  display: flex;
  align-items: center;
  flex-direction: column;
  .search {
    font-size: 16px;
    line-height: 1.5;
    background: #e9eef0;
    border: 1px solid #d5d9db;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-size: 20px 20px;
    border-radius: 100px;
    width: 300px;
    padding: 0.5em 1em 0.5em 2.5em;
    margin: 0 auto;
    margin-bottom: 25px;
    &::placeholder {
      color: #838d99;
    }
    &:focus {
      outline: none;
      background-color: #fff;
      border: 1px solid #84a2fa;
    }
  }
  .list {
    width: 100%;
    max-height: 750px;
    overflow-y: auto;
    padding: 20px;
  }
  .user-item {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 200px;
    border: 1px solid;
    border-radius: 20px;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    background-color: #a29bfe79;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 15px;
    &:hover {
      background-color: #a29bfe;
      cursor: pointer;
    }
    &.selected {
      background-color: #a29bfe;
    }
  }
  .remove-btn {
    font-size: 20px;
    font-weight: bold;
    &:hover {
      color: #d63031;
      cursor: pointer;
    }
  }
}
